
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">

	<title> Nihan Khan</title>
	<meta name="description" content="">
	<meta name="author" content="Joe Payton joe@josephpayton.com">
	<link rel="shortcut icon" href="https://josephpayton.com//assets/favicon.ico">

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="p:domain_verify" content="2d5f07f34d3a42448c8be1f256a128ac"/>

	<link rel="stylesheet" type="text/css" href="https://josephpayton.com/style.css" >

	<!-- Modernizr CDN with fallback -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js' type='text/javascript'></script>
	<script type='text/javascript'>
	  window.Modernizr || document.write('<script src="https://josephpayton.com/assets/js/libs/modernizr-2.6.2.min.js">\x3C/script>')
	</script>

	<script type="text/javascript" src="https://www.redbubble.com/assets/external_portfolio.js"></script>

	<link rel="apple-touch-icon" href="https://josephpayton.com/assets/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="https://josephpayton.com/assets/apple-touch-icon-57x57-precomposed.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="https://josephpayton.com/assets/apple-touch-icon-72x72-precomposed.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="https://josephpayton.com/assets/apple-touch-icon-114x114-precomposed.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="https://josephpayton.com/assets/apple-touch-icon-144x144-precomposed.png" />

</head>
<body>

	<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <audio id="tweet_sound">
		<source src="https://josephpayton.com/assets/audio/tweet.mp3" />
		<source src="https://josephpayton.com/assets/audio/tweet.ogg" />
	</audio>

	<div id="content_wrap">
		<header>
				<h1 style="color: red;"><a href="/">Nihan Khan</a></h1>

				<div align="center"><h1> Junior Backend Engineer </h1>
				<div align="center"><img src="https://assets.qwikresume.com/main/img/icon-time.svg" class="icon pull-left" alt="Years of Experience"></div>
<div class="title">Experience</div>
				<div> 1-2 Months </div>
				<div align="center"><img src="https://assets.qwikresume.com/main/img/icon-age.svg" class="icon pull-left" alt="Experience Level">
<div class="title">Level</div>
				<div> Backend </div>
				<img title="Nihan Khan" align="right" src="./templates/Media/img/icon.jpg" alt ="Nihan_Khan" height="200px" weight="150px"> </img>	
				<div align="center"><img src="https://assets.qwikresume.com/main/img/icon-education.svg" alt="Education">
<div class="title">Education</div>
				<div> Backend </div>

		</header>

		<div class="ball">
			<div class="dribble-bubble">
				<h2>Check Out My Dribbbles</h2>
				<a href="http://www.nihankhan.tk" class="keep_in_window icon-link-ext-alt">open in same window</a>
				<a href="https://github.com/nihankhan" class="icon-popup">open in new window</a>
				<span></span>
			</div>
			<a href="https://dribbble.com/RiotPixel" class="basketball">
				Check out my shots Dribbble
				<span class="shading"></span>
				<span class="ball"></span>
			</a>
		</div>

		<div class="ball-shadow"></div>

		<a href="#" class="twitter_link">Follow me on Twitter</a>

		<div class="joe">
			<div class="eyes"></div>
			<div class="steam"></div>
		</div>

		<div class="bird">
			<div class="last_tweet_wrap">
				<span class="close icon-cancel-circled"></span>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			</div>
			<span class="sprite"></span>
		</div>
	<!-- end content wrap -->

	<div id="content_expand"></div>

	<footer>
		<div align="right">&copy; Nihan Khan 2021</div>
	</footer>


	<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type='text/javascript'>window.jQuery || document.write('<script src="https://josephpayton.com/assets/js/libs/jquery-2.0.3.min.js"><\/script>')</script>

	<!-- scripts concatenated and minified via ant build script-->
	<script type='text/javascript' src="https://josephpayton.com/assets/js/plugins.min.js"></script>
	<script type='text/javascript' src="https://josephpayton.com/assets/js/scripts.min.js"></script>
	<!-- end scripts-->
</body>
</html>
